@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

section,
header,
main,
footer {
  transition: background-color 0.3s ease, color 0.3s ease;
}